html, body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.App-header {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), 
    url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/22/10/istock-683044558.jpg?quality=75&width=990&crop=2091%3A1394%2Csmart&auto=webp'
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}


@media (max-width: 768px) {
  .App-header {
    height: 50vh;
  }
}

.meal-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.meal-option {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: min-content
}

.meal-option:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }

.meal-option h3 {
  margin-top: 0;
}

.meal-option p {
  margin: 0;
  font-size: 1.1rem;
}

.meal-option button {
  background-color: #ffc107;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  box-shadow: 0 2px 0 #e0a800;
}

.meal-option button:hover {
  background-color: #e0a800;
}

.meal-option button:active {
  box-shadow: none;
  background-color: #ffc107;
  transform: translateY(5px);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.selected-meals {
  background-color: #a4a86d;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
  
  .selected-meals li {
  background-color: #f7f7f7;
  color: #444;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 16px;
  }